<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Appointment Booking System</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Agency Appointment System</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>